@model miCrudMvc3.Models.cargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>cargo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.car_cod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.car_cod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.car_des)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.car_des)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id=Model.car_cod }) |
    @Html.ActionLink("Ir a Lista", "Index")
</p>
